@import "../../../../StyledGlobalColor.css";

#intro-section-2 {
    background-color: var(--secundcolor);
    height: 90vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid rgb(17, 17, 17,0.3);
    margin-bottom: 0.5vw;
    border-top: 1px solid rgb(17, 17, 17,0.3);
}

.mascot-section-2 {
    width: 65vw;
}

.container-section-2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.text-section-2 {
    width: 26vw;
    font-size: 2vw;
    padding-bottom: 8.5vw;
}



@media (max-width: 1000px) {

}



